<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Task Manager</title>
</head>
<body>
<header>
    <nav>
        <a th:href="@{/}">Главная</a> |
        <a th:href="@{/create}">Создать задачу</a>
    </nav>
</header>

<h1>TODO List</h1>

<ul>
    <li><a th:href="@{/api/v1/tasks}">Все задачи</a></li>
    <li>
        Получить задачу по ID:
        <input type="number" id="taskId" value="1" />
        <button onclick="getTask()">Перейти</button>
    </li>
</ul>

<div>
    <h2>Список задач:</h2>
    <p>Сортировать по:
        <a th:href="@{/?sort=dueDate}">Сроку</a> |
        <a th:href="@{/?sort=status}">Статусу</a> |
        <a th:href="@{/}">Без сортировки</a>
    </p>
    <table border="1">
        <thead>
        <tr>
            <th>Название</th>
            <th>Статус</th>
            <th>Дата выполнения</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.title}">Task title</td>
            <td th:text="${task.status}">Task status</td>
            <td th:text="${#temporals.format(task.dueDate, 'dd-MM-yyyy')}">Due Date</td>
            <td>
                <form th:action="@{'/api/v1/tasks/' + ${task.id}}" method="post" th:onsubmit="return confirm('Удалить эту задачу?');">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function getTask() {
        const id = document.getElementById('taskId').value;
        if (id) {
            window.location.href = `/tasks/${id}`;
        } else {
            alert('Введите ID задачи');
        }
    }
</script>
</body>
</html>
